In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('C:/Users/mi/Downloads/agricult - Long format data.csv', sep = ',')

In [18]:
df.head()

,Order,FAO,ISO3,Level,Country,Region,Subregion,Income,Year,Attribute,Value
0,1,159.0,NGA,Country,Nigeria,SSA,"SSA, Nigeria",MI-L,1961,TFP_Index,"86,5804"
1,1,159.0,NGA,Country,Nigeria,SSA,"SSA, Nigeria",MI-L,1961,Outall_Index,"19,5115"
2,1,159.0,NGA,Country,Nigeria,SSA,"SSA, Nigeria",MI-L,1961,Input_Index,"22,5357"
3,1,159.0,NGA,Country,Nigeria,SSA,"SSA, Nigeria",MI-L,1961,Land_Index,"40,8615"
4,1,159.0,NGA,Country,Nigeria,SSA,"SSA, Nigeria",MI-L,1961,Labor_Index,"57,7794"

In [30]:
df.shape

(1260, 11)

In [33]:
df.dtypes

Order          int64
FAO          float64
ISO3          object
Level         object
Country       object
Region        object
Subregion     object
Income        object
Year           int64
Attribute     object
Value         object
dtype: object

In [38]:
df = df.query("Country == 'Colombia' & Year >= 1991 & Year <= 2010 & Attribute == 'TFP_Index'")

In [40]:
df

,Order,FAO,ISO3,Level,Country,Region,Subregion,Income,Year,Attribute,Value
84126,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,1991,TFP_Index,"92,1248"
84147,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,1992,TFP_Index,"92,3669"
84168,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,1993,TFP_Index,"89,6687"
84189,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,1994,TFP_Index,"90,1609"
84210,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,1995,TFP_Index,"98,1458"
84231,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,1996,TFP_Index,"95,6391"
84252,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,1997,TFP_Index,"96,1638"
84273,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,1998,TFP_Index,"96,6011"
84294,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,1999,TFP_Index,"97,5367"
84315,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2000,TFP_Index,"96,6627"
84336,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2001,TFP_Index,"93,7521"
84357,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2002,TFP_Index,"94,2893"
84378,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2003,TFP_Index,"91,8829"
84399,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2004,TFP_Index,"96,2299"
84420,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2005,TFP_Index,"93,4347"
84441,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2006,TFP_Index,"98,3961"
84462,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2007,TFP_Index,"105,1806"
84483,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2008,TFP_Index,"107,7260"
84504,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2009,TFP_Index,"96,2109"
84525,70,44.0,COL,Country,Colombia,LAC,"SA, Andean",MI-U,2010,TFP_Index,"90,3250"

In [45]:
df['Value'] = df['Value'].str.replace(',', '.').astype(float)

In [48]:
df = df.drop(columns=['Order', 'FAO' ,'ISO3','Region','Subregion','Income','Attribute'])

In [52]:
df['growth'] = df.Value.pct_change()*100

In [53]:
df

         Level   Country  Year     Value     growth
84126  Country  Colombia  1991   92.1248        NaN
84147  Country  Colombia  1992   92.3669   0.262796
84168  Country  Colombia  1993   89.6687  -2.921176
84189  Country  Colombia  1994   90.1609   0.548909
84210  Country  Colombia  1995   98.1458   8.856278
84231  Country  Colombia  1996   95.6391  -2.554057
84252  Country  Colombia  1997   96.1638   0.548625
84273  Country  Colombia  1998   96.6011   0.454745
84294  Country  Colombia  1999   97.5367   0.968519
84315  Country  Colombia  2000   96.6627  -0.896073
84336  Country  Colombia  2001   93.7521  -3.011089
84357  Country  Colombia  2002   94.2893   0.573000
84378  Country  Colombia  2003   91.8829  -2.552145
84399  Country  Colombia  2004   96.2299   4.731022
84420  Country  Colombia  2005   93.4347  -2.904710
84441  Country  Colombia  2006   98.3961   5.310019
84462  Country  Colombia  2007  105.1806   6.895090
84483  Country  Colombia  2008  107.7260   2.420028
84504  Country  Colombia  2009   96.2109 -10.689249
84525  Country  Colombia  2010   90.3250  -6.117706

In [54]:
df.to_excel("colombia.xlsx", sheet_name='growth_rate_CO_1991_2010')